applicationConfig:
  logLevel: info
  wsEndpoint: "wss://kusama-rpc.polkadot.io/"
  isDeepHistoryCheckForced: false
  claimsThirdParty:
    claimerKeystore:
      filePath: 
      passwordPath: 
    targets:
    - alias: ALESSIO-0
      validatorAddress: "GaK38GT7LmgCpRSTRdDC2LeiMaV9TJmx8NmQcb9L3cJ3fyX"