environment: production

image:
  repo: web3f/polkadot-payouts
  # Tag is based on appVersion in chart.yaml

config:
  logLevel: info
  wsEndpoint: "wss://kusama-rpc.polkadot.io/"
  # targetsFromGit: #optional
  #   enabled: false
  #   targets:
  #   - platform: GitHub1kv
  #     private:
  #       enabled: false
  #       apiToken: xxx
  #     network: kusama
  #     url: https://github.com/w3f/1k-validators-be/raw/master/helmfile.d/config/kusama/otv-backend-prod.yaml.gotmpl
  targets: [] #optional
  deepCheck: 
    enabled: false
  claim:
    enabled: false
    batchSize: 4
    gracePeriod:
      enabled: false
      eras: 4
    claimerKeystore:
      filePath: '/app/keystore/wallet/wallet.json'
      passwordPath: '/app/keystore/password/password'
  
secret:
  claimerPasswordValue: '}b#%q.~0QAWog'
  claimerWalletValue: |
    {"address":"5EZj5n2epr2J1sVe2PhNJhJJ8JHZ8jdcQ7iyrbzkpguCDQxb","encoded":"ZOu66lvbZQ1OilENNSxTNiLmcjUeCxnvD7G3NSP2ClYAgAAAAQAAAAgAAAC2nWTkigv/aP7FgS8GM4v7szpTan7+DSfo6VJRqyDty6HWNbWo+3Zr2i1zC8l/gNTHUEm5Iz+lZiLo9GEk17yVDDLLI1Dn5N+oSCrm1wTsm2r4zxem5v9ZU/vdsNqXyDakvAELagtWFKwWxQaROnHn74Wzw9Uu73TCnQUUu+kRFnXS4DXnJF0nskQrxqPYwDO4xvBZtcWppIS6of94","encoding":{"content":["pkcs8","sr25519"],"type":["scrypt","xsalsa20-poly1305"],"version":"3"},"meta":{"name":"trash test code","whenCreated":1600669656080}}
    
resources: 
  requests:
    cpu: "10m"
    memory: "50Mi"
  # limits:
  #   cpu: "150m"
  #   memory: "150Mi" 

cronjob:
  schedule: "0 12 */2 * *"
  timeout: true
  concurrencyPolicy: Forbid
  backoffLimit: 0
  restartPolicy: Never
