applicationConfig:
  logLevel: info
  wsEndpoint: "wss://rpc.polkadot.io/"
  isDeepHistoryCheckForced: false
  claimsThirdParty:
    claimerKeystore:
      filePath: 
      passwordPath: 
    targets:
    - alias: ALESSIO
      validatorAddress: "16cdSZUq7kxq6mtoVMWmYXo62FnNGT9jzWjVRUg87CpL9pxP"